record(waveform, "$(SYS){$(DEV1)$(DEV2)}$(REC)") {
  field(DESC,    "$(DESC)")
  field(FTVL,    "ULONG")
  field(NELM,    "256")
  field(DTYP,    "asynInt32ArrayIn")
  field(INP,     "@asyn($(INP) $(OFFSET) 1000)INT16")
  field(SCAN,    "$(SCAN)")
  field(FLNK,    "$(SYS){$(DEV1)-SSM:$(K)}$(FLK)")
}


